<footer>
    <div class="container-main">
        <div class="info">
            <img class="logo" src="assets/ico/logo.svg" alt="">
            <span class="copy">© 2019 Skandia</span>
            <span>PBX: <span class="green">658 4000 / 484 1300</span> </span>
            <span>Línea nacional <span class="green">01 8000 517 526</span></span>
            <span>Línea Corporativa 658 4123</span>
            <span>Av. 19 # 109A - 30</span>
            <span>Bogotá D.C., Colombia</span>
            <span class="offices">Oficinas a nivel nacional</span>
        </div>
        <div class="conditions">
            <a href="">Términos y Condiciones Canales de Servicio</a>
            <a href="">Defensoría del Consumidor Financiero</a>
            <a href="">Protección de Datos</a>
            <a href="">Definiciones Generales - Auto declaración FATCA y CRS</a>
            <a href="">Recomendaciones de Seguridad</a>
            <a href="">Ley de Transparencia</a>
            <a href="">Mapa del sitio</a>
        </div>
        <div class="social">
            <img src="assets/ico/facebook.svg" alt="">
            <img src="assets/ico/youtube.svg" alt="">
            <img src="assets/ico/twitter.svg" alt="">
        </div>
    </div>
</footer>