<div class="main">
    <div class="container-burger">
        <img class="burger" (click)="emitValue()" src="assets/ico/menu.svg" alt="">
    </div>
    <div class="container-main">
        <div class="left">
            <div class="container-logo">
                <img class="logo" src="assets/ico/logo.svg" alt="">
                <div class="divider"></div>
                <span>Plan Financiero Digital - FPX</span>
            </div>
        </div>
        <div class="right">
            <div>
                <a href="" class="green"><img class="ico" src="assets/ico/happy-face-small.svg" alt="">Tu Financial
                    Planner</a>
            </div>
            <div>
                <a href="" class="green"><img class="ico" src="assets/ico/hand-money.svg" alt="">Aportes</a>
            </div>
            <div class="container-help">
                <img src="assets/ico/help-yellow.svg" alt="">
                <a href="" class="help-text">Preguntas frecuentes</a>
            </div>
        </div>
    </div>
</div>