.container-main {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    color: #3F3F3F;
    width: 100%;
}

.logo {
    padding: 30px 0px;
}

.green {
    font-size: 14px;
    font-family: "Verdana";
    font-weight: bold;
    color: #00C83C;
    background-color: transparent;
}

footer {
    box-shadow: 0px 0px 6px #00000029;
    padding: 100px;
}

.container-help {
    display: flex;
    justify-content: center;
    align-items: center;
}

.help-text {
    display: none;
}

.container-help:hover .help-text {
    display: flex;
}

.right {
    display: flex;
    margin-right: 100px;
}

.right div {
    margin: 20px;
}

.left {
    display: flex;
    align-items: center;
}

.container-logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.divider {
    margin: 0px 10px;
    background-color: #3F3F3F;
    width: 4px;
    height: 30px;
}

.ico {
    margin-right: 10px;
}

.burger {
    width: 40px;
    margin-right: 90px;
    color: #00C83C;
    cursor: pointer;
}

.container-burger {
    margin: 0px 5px;
}

.main {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container-logo span {
    font-size: 18px;
    font-family: "Montserrat";
    font-weight: 600;
}

.container-help img {
    cursor: pointer;
}

.container-help a {
    width: 50px;
    font-size: 12px;
    font-family: "Verdana";
    font-weight: bold;
    color: #00C83C;
    background-color: transparent;
    margin-left: 10px;
}