.drawer {
    z-index: 999;
    position: absolute;
    width: 230px;
    background-color: #E2E2E2;
    height: 90%;
}

.item {
    min-height: 50px;
    display: flex;
    align-items: center;
    font-size: 16px;
    font-family: "Montserrat";
    font-weight: 500;
}

.selected {
    background-color: #00C83C;
    color: #FFFFFF;
}

.img {
    cursor: pointer;
    padding: 0px 20px;
}

.selected-icon {
    background-color: transparent;
    padding: 0px 20px;
}