.sidebar {
    z-index: 99;
    position: absolute;
    width: 50px;
    background-color: #E2E2E2;
    height: 100%;
    position: fixed;
    margin-top: 90px;
}

.item {
    min-height: 50px;
    display: flex;
    justify-content: center;
}

.selected {
    background-color: #00C83C;
    color: #FFFFFF;
}

.selected-icon {
    cursor: pointer;
    background-color: transparent;
}

@media (max-width: 900px) {
    .sidebar {
        margin-top: 250px;
    }
}