.drawer {
    z-index: 1;
    position: absolute;
    width: 50px;
    background-color: #E2E2E2;
    height: 90%;
}

.item {
    min-height: 50px;
    display: flex;
    justify-content: center;
}

.selected {
    background-color: #00C83C;
    color: #FFFFFF;
}

.selected-icon {
    cursor: pointer;
    background-color: transparent;
}